html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
    /* This makes sure the container doesn't force extra bottom space */
    margin-bottom: 0 !important;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #dee2e6;
    padding: 0.5rem 0 !important;
}
